show_startup_tips false

keybinds {
    shared_except "locked" {
        unbind "Alt f"
        bind "Alt Shift f" { ToggleFloatingPanes; }

        unbind "Alt left" "Alt right" "Alt up" "Alt down"
        bind "Alt Shift left" { MoveFocusOrTab "left"; }
        bind "Alt Shift right" { MoveFocusOrTab "right"; }
        bind "Alt Shift up" { MoveFocus "up"; }
        bind "Alt Shift down" { MoveFocus "down"; }
    }
}
